*{
    box-sizing: border-box;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 70px 0;
    background-image: url(../image/img/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    .container{
        background-image: url(../image/img/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.card{
    background-color: white;
    box-shadow: 1px 5px 15px rgb(189, 188, 188), -1px -5px 15px rgb(189, 188, 188);
    flex-wrap: wrap;
    margin: auto;
    max-width: 500px;
    padding-bottom: 40px;
}
@media only screen and (min-width: 200px) and (max-width: 600px) {
    .card{
        margin: 0 30px;
    }
}
.header img{
    width: 100%;
    border-top-right-radius: ;
}
.main{
    display: flex;
    flex-direction: column;
    padding: 0 35px;
}
@media only screen and (max-width: 450px) {
    .main{
        padding: 0 20px;
        
    }
}
/* @media only screen and (max-width: 700px) {
    .main{
        padding: 0 70px;
    }
} */
/* @media only screen and (min-width: 590px) and (max-width: 700px) {
    .main{
        padding: 0 30px;
    }
} */
.main h1{
    text-align: center;
    color: hsl(223, 47%, 23%);
}
.main-text{
    padding: 0 50px;
}
@media only screen and (max-width: 600px) {
    .main-text{
        padding: 0 0;
        
    }
}
@media only screen and (min-width: 580px)  {
    .main-text{
        padding: 0 30px;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .main{
        padding: 0 40px;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .main-text{
        padding: 0 20px;
    }
}
.main-text p{
    text-align: center;
    font-size: 22px;
    line-height: 27px;
    color: hsl(224, 23%, 55%)
    /* color: Very pale blue; */
}
@media only screen and (max-width: 500px) {
    .main-text p{
        font-size: 18px;
    }
}

.select-payment{
    display: flex;
    padding: 35px 30px;
    background-color: hsl(225, 100%, 98%);
    margin-top: 10px;
}
.select-payment .container-2{
    display: flex;
    flex: 60%;
}
.container-2 .music-icon{
    flex: 25%;
}
.container-2 .music-icon img{
    width: 100%;
    
}
.container-2 .pay-method{
    margin-left: 20px;
    flex: 75%;
}
.pay-method h3{
    margin: 0;
    color: hsl(223, 47%, 23%);
    font-size: 20px;
}
.pay-method p{
    margin: 0;
    font-size: 23px;
    position: relative;
    top: 4px;
    color: hsl(224, 23%, 55%);
}
@media only screen and (min-width: 200px) and (max-width: 700px) {
    .select-payment{
        padding: 25px 7px;
    }
    .pay-method h3{
        font-size: 17px;
    }
    .pay-method p{
        font-size: 20px;
    }
}
.select-payment .change-method{
    flex: 40%;
}
.select-payment .change-method h2{
    position: relative;
    top: 10px;
    text-align: end;
}
.change-method h2 a{
    font-size: 20px;
    color: rgb(0, 0, 165);
 }
.change-method h2 a:hover{
    color:  rgb(73, 73, 250);
}
@media only screen and (min-width: 200px) and (max-width: 700px) {
    .container-2 .music-icon{
        flex: 20%;
    }
    .container-2 .pay-method{
        flex: 75%;
        margin-left: 15px;
    }
}
@media only screen and (max-width: 400px) {
    .container-2 .music-icon{
        padding-top: 12px;
    }
    .select-payment .change-method h2{
        position: relative;
        top: 7px;
    }
}
/* @media only screen and (max-width: 465px) {
    .select-payment .container-2{
        flex: 75%;
    }
    .select-payment .change-method{
        flex: 25%;
    }
    .select-payment .change-method h2{
        top: 8px;
    }
} */
/* @media only screen and (min-width: 300px) and (max-width: 370px) {
    .container-2 .music-icon{
        flex: 30%;
        padding-top: 0;
    }
    .container-2 .pay-method{
        flex: 70%;
        margin-left: 20px;
    }
} */
.proceed{
    margin: 40px 0 10px 0;
    box-shadow: 0px 10px 20px 10px rgb(225, 225, 251);

  
}
.proceed button{
    width: 100%;
    padding: 15px 0;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(0, 0, 165);
    color: white;
    cursor: pointer;
    border-radius: 14px;
    color: white;
    border: none;
    
}
.proceed button:hover{
    background-color: rgb(73, 73, 250);
}
@media only screen and (max-width: 600px) {
    .proceed button{
        font-size: 14px;
       
    }
}
.order{
   
}
.order h3{
   margin: 0;
   padding: 10px 0;
   text-align: center;
   text-decoration: none;
}





